[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

#python-lsp-server = {version = "*", extras = ["rope"]}
#python-lsp-black = "*"
python-lsp-ruff = "*"
pynvim = "*"
ruff = "*"

[dev-packages]

[requires]
python_version = "3.10"
