#1
{{- tmpl.Exec "foo.has_key" (dict "ds" .ctx.my_array "key" "one") }}
#2
{{- tmpl.Exec "foo.hello_world" }}
#3
{{- tmpl.Exec "foo.is_true" .ctx.boolean_true }}
#4
{{- tmpl.Exec "foo.is_true" .ctx.boolean_false }}
# 5
{{- tmpl.Exec "list_to_comma" .ctx.my_array }}
# 6
{{- tmpl.Exec "get_keys" .ctx.my_dict }}
# 6
{{- tmpl.Exec "join_array" .ctx }}
# 7
{{- tmpl.Exec "JoinList" .ctx }}

